

*{
font-family: 'Roboto', sans-serif;

}



body{
padding:0;
margin:0;
background:black;
}


h2{
font-size:100px;
font-weight:500;
color:#222;
letter-spacing:3px;
cursor:pointer;
text-align:center;

}

h2 span{
transition:0.5s;
}

h2:hover span:nth-child(1)
{
margin-right:10px;
}

h2:hover span:nth-child(2)
{
margin-left:40px;
}
h2:hover span{
color:#fff;
text-shadow:0 0 10px #fff,
            0 0 20px #fff,
            0 0 40px #fff,
            0 0 80px #fff,
             0 0 120px #fff;
}
/*
.container{
position:relative;
width:100%;
height:100vh;
overflow:hidden;
}

.burbujas{
position:relative;
display:flex;
}

.burbujas span{
position:relative;
width:30px;
height:30px;
background:aqua;
margin:0 4px;
border-radius:50%;
box-shadow:0 0 0 10px #4fc3dc44,
           0 0 50px #4fc3dc,
           0 0 100px #4fc3dc;
animation:animate 15s linear infinite;
animation-duration: calc(125s/var(--i));
}

.burbujas span:nth-child(even){
background:pink;
box-shadow:0 0 0 10px purple,
           0 0 50px pink,
           0 0 100px pink;
}


@keyframes animate{
0%{
transform: translateY(100vh) scale(0);
}
100%{
transform: translateY(-10vh) scale(1);
}

*/

@keyframes flotar{
to{
margin-top:15vh;
}
}

.burbujas div{
background:white;
border-radius:100%;
position:absolute;
bottom:0;
animation:animarburbujas 8s linear infinite;

}

.burbujas div:nth-child(1){
width:50px;
height:50px;
left:40%;
animation-duration:10s;

}

.burbujas div:nth-child(2){
width:60px;
height:55px;
left:25%;
animation-duration:8s;
}

.burbujas div:nth-child(3){
width:30px;
height:27px;
left:90%;
animation-duration:5s;
}

.burbujas div:nth-child(4){
width:60px;
height:55px;
left:39%;
animation-duration:8s;
}

.burbujas div:nth-child(5){
width:30px;
height:27px;
left:40%;
animation-duration:5s;
}

.burbujas div:nth-child(6){
width:65px;
height:60px;
left:90%;
animation-duration:9s;
}

.burbujas div:nth-child(7){
width:25px;
height:35px;
left:11%;
animation-duration:9s;
}

.burbujas div:nth-child(8){
width:65px;
height:60px;
left:10%;
animation-duration:5.6s;
}

.burbujas div:nth-child(9){
width:15px;
height:15px;
left:8%;
animation-duration:8s;
}

.burbujas div:nth-child(10){
width:15px;
height:20px;
left:75%;
animation-duration:5s;
}

.burbujas div:nth-child(11){
width:15px;
height:20px;
left:80%;
animation-duration:5s;
}

.burbujas div:nth-child(12){
width:60px;
height:55px;
left:65%;
animation-duration:8s;
}

.burbujas div:nth-child(13){
width:30px;
height:27px;
left:50%;
animation-duration:5s;
}







@keyframes animarburbujas{
0%{
width:0;
height:0;
}
3%{
width:60px;
height:60px;
}
50%{
margin-left:50px;
opacity:0.9;
}
100%{
transform:rotate(90deg);
bottom:100vh;
background: #ff6600;
}
}





.icon-buscador{ /*usamos display inline block porque queremos que esten pegaditos */

display: inline-block;
width: 24px;
height: 24px;

}







#input-buscador/*Ponerle estilo ala barra para escribir de adentro*/{

background-color:transparent;
width:450px;
height:40px;
border:none;
outline:none;
color:white;
font-size:14px;
border-radius:20px;


}

#input-buscador:hover /*Sirve para que al pasar el mouse se vea el sombreado en la barra */{

box-shadow:0 1px 6px 0 #d0d0d7;

}

.barra-buscador/*ayuda a poner el margen de la barra afuera */
{

border-radius:20px;
width:650px;
height:45px;
border: 1px solid #dfe1e5;


}




.botones{
text-align:center;
margin:10px;
padding:10px;
}

main{
height:90px;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;

}


main .botones div button /* Estilos a botones debajo de barra*/{
height: 36px;
background-color:#f6f6f6;
border:none;
border-radius: 4px;
padding:0px 16px;
margin:0px 5px;
}

main .botones div button:hover /* El hover sirve para darle efectos a los botones debajo de la barra*/{

border: solid #c1c1c1;
box-shadow: 0 1px 1px egba(0, 0, 0, 0, 1); 
color:#222;
background-color:#f8f8f8;
}


header ul li {
  display:inline;
  padding: 15px;
 color:white;
}


footer{
width:100%;
position:absolute;
bottom:0;
background: #f2f2f2;
height:auto;
padding: 10px 0;
height:auto;


background-color:black;
}


 
footer .bloque{

border-bottom:1px solid #dadce0;

}

footer .bloque p{
margin-left:30px;
color:  #70757a;
font-size:15px;
}


footer .cuadro{
display:flex;
justify-content:space-between;
width:95%;
margin:auto;
padding:5px 0;
}

footer .cuadro a{
color: #70757a;
text-decoration:none;
margin:10px;
display:inline-block;
font-size:15px;
}

footer .cuadro a:hover{
text-decoration: underline;
}







.iconos{
padding: 10px;
text-align: right;
margin:10px;

}

.menu-icono{
padding: 10px;
text-align: right;
margin:10px;

}





header .iconos .Foto-perfil{
background-image: url("https://th.bing.com/th/id/OIP.I0xsw03j098OA-J-DKVMQQAAAA?pid=ImgDet&rs=1");
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width:25px;
height:25px;
}



/*

align text

float

unidades de medida

*/
